.donateUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
}

.donateLSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
}   

.donateText {
    display: flex;
    flex-direction: column;

    padding-left: 100px;
    padding-right: 200px;
}

.donateText h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #085A91;

    padding-bottom: 20px;
}

.donateText span {
    color: #dea01e;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.donateText h2 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    color: #334B48;
}

.donateRSide {
    width: 50%;
    padding-bottom: 0;
    
}

.donateRSide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    vertical-align:top;

}

.donateBtnFrame {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.donateButton {
    font-size: 1.4rem;
    color: #fff;
    background-color: #085a91;
    border-radius: 1.9em;
    border-width: 0;
    padding:0.6em 1.5em;
    margin: 0 0.3em 0.3em 0;
    text-align: center;
    transition: ease-in 0.3s;
}

.donateButton:hover {
    background-color: #548CC7;
}

@media only screen and (max-width: 1200px) {
    .donateText {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .donateUs {
        flex-direction: column-reverse;
    }

    .donateRSide {
        width: 100%;
        height: 20rem;
    }
    
    .donateLSide {
        background-color: #f2f2f2;
        width: 100%;
    }
}