.msgComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.msgLSide {
    display: flex;
    flex-direction: column;

    padding-top: 50px;
    width: 50%;
}

.msgLSide h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #085A91;

    padding-left: 300px;
    padding-bottom: 20px;
}

.formPrompt {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.formPrompt h2 {
    padding-top: 10px;
    font-size: 1rem;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.firstName {
    font-size: 1.5rem;
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px 0;
}

.emailBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.email {
    font-size: 1.5rem;
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px 0;
}

.messageBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.message {
    font-size: 1.5rem;
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px 0;
}

.messageButtonFrame {
    display: flex;
    margin-top: 40px;
}

.messageButton {
    font-size: 1.4rem;
    color: #fff;
    background-color: #085a91;
    border-radius: 1.9em;
    border-width: 0;
    padding:0.6em 1.5em;
    margin: 0 0.3em 0.3em 0;
    text-align: center;
    transition: ease-in 0.3s;
}

.messageButton:hover {
    background-color: #548CC7;
}

.msgRSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.msgRSide img {
    height: 90%;
    width: 70%;

    object-fit: cover;
    border-radius: 1.9em;

}

@media only screen and (max-width: 800px) {
    .msgComponent {
        flex-direction: column;
    }   

    .msgLSide {
        width: auto;
    }

    .msgRSide {
        width: auto;
    }

    .msgRSide img {
        width: 90%;
        height: 30rem;

        margin: 10px;
    }

    .msgLSide h1 {
        padding-left: 10px;
    }

    .formPrompt {
        padding-left: 10px;
        padding-right: 10px;
    }
}