.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F1F1E6;
    font-size: 1.7rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.logoImg {
    align-items: center;
    width: 4.8rem;
    object-fit: fill;
    display: flex;
    background-color: #F1F1E6;
}

.navList {
    display: flex;
}

.navItem {
    list-style: none;
    align-items: center;
    padding: 0 20px;
}

.navItem a {
    color: #000;
}