.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    font-size: 1.7rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.logoImg {
    align-items: center;
    width: 4.8rem;
    object-fit: fill;
    display: flex;
    background-color: #fff;
}

.navList {
    display: flex;
    flex-direction: row;
}

.navItem {
    list-style: none;
    align-items: center;
    padding: 0 20px;
}

.navItem a {
    color: #000;
}

.hamburger {
    display: none;
}

.hamburgerButton {
    border: none;
    background-color: #fff;
    padding-right: 20px;
    
}

.hamburgerButton img {
    filter: invert(21%) sepia(66%) saturate(3214%) hue-rotate(188deg) brightness(84%) contrast(94%);
}

.navItem {
    display: inherit;
}

@media only screen and (max-width: 800px) {


    .navbar #open{
        display: inherit;

        z-index: -2;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        height: 270px;

        padding-top: 30px;

        flex-direction: column;
        align-items: center;

        background-color: #fff;

        transition: all ease-in 0.1s ;
        -webkit-transition: all ease-in 0.1s;
        -moz-transition: all ease-in 0.1s;
        -o-transition: all ease-in 0.1s;
        
    }
    
    .navbar #close{
        display: none;
        height: 0;
    }


    .hamburger {
        display: inherit;
    }

    .logoImg {
        padding-left: 20px;
    }

    .navItem {
        padding-bottom: 30px;

    }


    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}