.newsComp {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.newsComp h1 {
    padding-top: 30px;
    font-size: 2.5rem;
    color: #085a91;
    padding-bottom: 40px;
    font-weight: 800;
}

.newsCard {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 900px;
    padding-bottom: 40px;
}

.newsText {
    display: flex;
    flex-direction: column;
}

.newsText div {
    display: flex;
}

.newsText h2 {
    font-size: 2rem;
    color: #085a91;
    margin-bottom: 5px;
}

.newsText h2:hover {
    text-decoration: underline;

}

.newsDate {
    margin-bottom: 5px;
    color: #bfbfbf;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.newsText h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.newsImg {
    display: flex;
    padding-right: 30px;
    
}

.newsImg img {
    height: 160px;
    border-radius: 5px;
}