.supporters {
    background-color: #f2f2f2;
}

.supportersBG {

    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);

    transform-origin: right;
    -o-transform-origin: right;
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;

    background-image: url(../../images/sponsorsBG.svg);

    padding: 50px;
    height: 20rem;
}

.supportersComp {
    transform: skewY(3deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supportersComp h1 {
    font-size: 2.5rem;
    color: #f2f2f2;
}