.teamInfoComp {
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teamLSide {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    width: 700px;
    padding-left: 30px;
}

.teamLSide h2 {
    font-weight: 800;
    font-size: 2.5rem;
    color: #085A91;
    padding-bottom: 20px;

}

.teamLSide h3 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #334B48;
}

.teamRSide img {
    height: 23rem;
    border-radius: 1.9em;
}

@media only screen and (max-width: 1200px) {
    .teamRSide img {
        width: 90%;
        object-fit: cover;
    }
    .teamLSide {
        padding-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .teamInfoComp {
        flex-direction: column-reverse;
    }

    .teamRSide {
        width: 100%;
    }

    .teamRSide img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }

    .teamLSide {
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
    }

    .teamLSide h2 {
        font-size: 2rem;
    }

    .teamLSide h3 {
        font-size: 1.3rem;
    }
}